.groupe{
    background-color: black;
    text-align: center;
    color:white;
}

.groupe img{
    max-width : 70%;
    width: auto;
    max-height :50rem ;
    height: auto;

}

body{
    color:white;
    text-align: center;
    background-color: black;
}

a{
    text-decoration: none;
}

a:link{
    color:white;
}

a:visited {
    color: white;
}


.image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 0.5s ease; /* Safari et Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* Internet Explorer 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;

}

.image .imagetxt {
    opacity:0;
} 

.image:hover .imagetxt{
    opacity:1;
}

.contenant{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.groupe img:hover {
    box-shadow: 10px 5px 5px white;
}

.chanteurs img:hover{
    box-shadow: 10px 5px 5px white;
}

.chanteurs img:hover .text{
    visibility: visible;
}

#connexion{
    padding-left: 30px;
}
#enregistrer{
    padding-left: 45px;
}
#deconnexion{
    padding-left: 45px;
}

.video-responsive { overflow:hidden; padding-bottom:56.25%; position:relative; height:0;}

.video-responsive iframe { left:0; top:0; height:90%; width:100%; position:absolute;}

.chanteurs{
    background-color: black;
    text-align: center;
    color:white;
}

.chanteurs img{
    max-width : 20%;
    width: auto;
    max-height :50rem ;
    height: auto;
}


.cadre {
    position: relative;   /* pour servir de référent */
    width: 100%;          /* largeur à ajuster suivant le besoin */
    overflow: hidden;     /* masque les dépassements */
    line-height: 2em;     /* pour centrage vertical */
  }

  .cadre img { 
    z-index: 1;           /* image au dessus */
    position: relative;   /* pour prise en compte z-index */
    max-width : 20%;
    width: auto;
    max-height :50rem ;
    margin-left:auto;
    margin-right:auto;
    height: auto;
  }

  .cadre span {
    display: block;
    position: absolute;   /* positionnement hors flux */
    left: -100%;          /* décalage à gauche toute */
    color: #eee;          /* couleur du texte à ajuster suivant le besoin */
    transition: all .5s;  /* la transition à appliquer */
    margin-left:auto;
    margin-right:auto;
    margin-top: 10%;
  }
  .cadre:hover span {
    left: 22%;            /* position égale à la largeur de l'image */
  }

  .musiques{
    text-align: justify;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    border-top:solid white 1px;

  }

  .annee{
    float:right;
  }

  .titre{
    float:left;    
  }

  .mti{
    display: flex;
    flex-direction: column;
    border:solid white 1px;
  }

  p{
    text-decoration: none;
    }


    *, *::before, *::after {
        box-sizing: border-box;
    }

    .cbtt{
        display:flex;
        justify-content: center;
    }

    .btt {
        color: white;
        text-decoration: none;
    }

    .btt::before {
        content: '';
        display: block;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: white;

        transform: scaleX(0);
        transform-origin: 0 0;
        transition: transform 300ms ease;
    }

    .btt::after {
        content: '';
        display: block;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: white;

        transform: scaleX(0);
        transform-origin: 100% 0;
        transition: transform 300ms ease;
    }
    
    .btt:hover {
        color: whitesmoke;
        animation: link_fade 500ms alternate;
    }

    .btt:hover::before {
        transform: scaleX(1);
        transform-origin: 100% 0;
    }

    .btt:hover::after {
        transform: scaleX(1);
        transform-origin: 0 0;
    }

    .mti a:hover{
        background-color: #343a40;
    }

    .nav-item a:hover{
        background-color: #343a40;
    }
